td.column-calculated_number,
td.column-number {
	text-align: left;
}
.column-date {
	width: auto !important;
}

.wpo-wcpdf-number-tools {
	text-align:left;
	width:100%;
	font-weight:normal;
}

.wpo-wcpdf-diagnostic-tool { 
	border-bottom:1px solid #ccc;
	padding:2em 2em 2em 0;
	margin-bottom:1em;
	width:70%;
}

.wpo-wcpdf-number-tools strong {
	color:#a00;
	font-weight:bold;
}

.wpo-wcpdf-number-tools strong.name,
.wpo-wcpdf-remove-options strong.name  {
	font-size:1.2em;
	color:#222;
	padding:1em 0 0.4em 0;
	display:block;
}

.wpo-wcpdf-number-tools .description,
.wpo-wcpdf-remove-options .description {
	font-style:normal;
	color:#333;
	padding-bottom:2em;
}

.wpo-wcpdf-number-tools .warning {
	font-style:italic;
	color:#666;
	margin-top:4em;
	padding:1em 1.4em;
	background:#eaeaea;
	border:1px solid #222;
}

.wpo-wcpdf-number-tools .number-tools-btn {
	margin:2em 0 0 0;
}

.wpo-wcpdf-number-tools .date-range {
	padding:0.5em 0;
}

.wpo-wcpdf-number-tools .date-range span {
	width:45px;
	display:inline-block;
}

.wpo-wcpdf-number-tools .date-range span.add-info {
	width:auto;	
	color:#666;
	font-style:italic;
	margin-left:1em;
}

.wpo-wcpdf-number-tools .spinner {
	vertical-align: top;
	margin: 2.5em 10px 0;
	float: none;
	display: inline-block;
}

.wpo-wcpdf-remove-options .remove-option td {
	padding-bottom: 15px;
}

.wpo-wcpdf-remove-options .remove-option button {
	margin-left:15px;
}

